<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteus</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <header>
        <a href="#" class="logo">noteus</a>
        <div class="list">
            <li><a href="/contact">Contact</a></li>
        </div>
        <nav>
            <ul>
                <li><a href="#"><i class="gg-coffee"></i>Buy Me A Coffee</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="assets/curve.png" alt="wave" class="wave">
        <div class="contentBx">
            <h2></h2>
            <p>
                A <strong>simple&basic</strong> website, <br> providing you with basic integrations
                like current weather, time, a notes app and a phone book.
            </p>
            <a href="/login">Login<i class="Login">
                
            </i>
            <a href="/register"><i class="">Register</i></a>
        </div>
        <div class="imgBx">
            <img src="images/thingz.svg" alt="boy">
        </div>
        <ul class="icon">
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </section>
</body>

</html>
